<table width="100%" class='table table-striped'>
	<tr>
		<th>STT</th>
		<th align=center>${n.i18n.nnts_temp_mcq}</th>
		<th align=center>${n.i18n.nnts_temp_ma_unt}</th>
		<th align=center>${n.i18n.nnts_temp_cbk_unt}</th>
		<th align=center>${n.i18n.nnts_temp_tieu_muc}</th>
		<th align=center>${n.i18n.nnts_temp_kythue}</th>
		<th align=center>${n.i18n.nnts_temp_magiao_unt}</th>
		<th align=center>${n.i18n.nnts_temp_tien_giao}</th>
	</tr>
 #set ($list = $u.ref("crud_search_nnts_uploads_temp_service","default",["$!{filter}","$!{log_ip}","$!{curr_id}","$!{record_per_page}","$!{page_index}"],5) )
#foreach ($i in $list)
	<tr>
		<td align=center name='stt'> </td>
		<td align=left name='mcq'>$!i["MCQ"]</td>
		<td align=left name='ma_unt'>$!i["MA_UNT"]</td>
		<td align=left name='cbk_unt'>$!i["CBK_UNT"]</td>
		<td align=left name='tieu_muc'>$!i["TIEU_MUC"]</td>
		<td align=left name='kythue'>$!i["KYTHUE"]</td>
		<td align=left name='magiao_unt'>$!i["MAGIAO_UNT"]</td>
		<td align=left name='tien_giao'>$!i["TIEN_GIAO"]</td>
	</tr>
#end
</table>
<script>
	var count = 0;
	var page_ = "$!{page_index}";
	var record_ = (record_per_page*(page_-1));
 	$('td[name="stt"]').each(function(){	
		count=count+1 ;
		$(this).html(record_+count);
	});
</script>
