#set ($v = $u.ref("crud_search_phieu_giao_service","default",["$!{id}","$!{mst}","$!{tien_giao}","$!{ma_nv}","$!{ngay_giao}","$!{nguoi_giao}","1","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],10)[0] )
	<table id="phieu_q42015" class='table table-condensed'>
		<tr><th colspan='4'><b>${n.i18n.crud_delete_button_message.toUpperCase()}</b></th></tr>	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.phieu_q42015_id}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["ID"]' name="id" id="id"><span id="id_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 40 ${n.i18n.crud_valid_length_postfix}" id="mst_label">${n.i18n.phieu_q42015_mst}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["MST"]' name="mst" id="mst"><span id="mst_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="tien_giao_label">${n.i18n.phieu_q42015_tien_giao}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["TIEN_GIAO"]' name="tien_giao" id="tien_giao"><span id="tien_giao_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="ma_nv_label">${n.i18n.phieu_q42015_ma_nv}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["MA_NV"]' name="ma_nv" id="ma_nv"><span id="ma_nv_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_giao_label">${n.i18n.phieu_q42015_ngay_giao}</td>
			<td>			<input readonly type="text" class="form-control" value='$!v["NGAY_GIAO"]' name="ngay_giao" id="ngay_giao"><span id="ngay_giao_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="nguoi_giao_label">${n.i18n.phieu_q42015_nguoi_giao}</td>
			<td>			<input readonly type="text" class="form-control" value='$!v["NGUOI_GIAO"]' name="nguoi_giao" id="nguoi_giao"><span id="nguoi_giao_msg"></span></td>
		</tr>

		<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button class="btn btn-primary" name="doDel" id="doDel"><i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message}</button>&nbsp;	
			<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> Trở lại trang tìm kiếm &gt;</button>&nbsp;&nbsp;&nbsp;
			<input type="checkbox" id="chkAll" name="chkAll" value="1" checked> Hủy lượt giao
		</td></tr>
	</table>
<script type="text/javascript">
	$(function(){
		$('#doDel').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			$('#result').html('${n.i18n.crud_process_message}');
			
			var id_;
			if ($("#chkAll").is(":checked")){ id_ ="${id}" ;}else{ id_ ="${id}"+"|" +$('#mst').val();}
	
			$.ajax({
				url: 'crud_exec.jsp?crud_type=phieu_giao/delete_exec.html&id='+id_,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_delete_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=phieu_giao/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()!=''){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.crud_required_message} ${n.i18n.phieu_q42015_id}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
			if ($('#id').val()*1==$('#id').val()){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.phieu_q42015_id} ${n.i18n.crud_is_number_message}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
			});
	$(document).ready(function(){
		$('#ngay_giao').datepicker({format:"dd/mm/yyyy"});
	});
</script>