<table id="chukynos" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_new_button_message.toUpperCase()}</b></th></tr>	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 10 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.chukynos_id}<font>*</font></td>
		<td>			<input  type="text" class="form-control" name="id" id="id"><span id="id_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 100 ${n.i18n.crud_valid_length_postfix}" id="ten_chukyno_label">${n.i18n.chukynos_ten_chukyno}<font>*</font></td>
		<td>			<input  type="text" class="form-control" name="ten_chukyno" id="ten_chukyno"><span id="ten_chukyno_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="is_active_label">${n.i18n.chukynos_is_active}<font>*</font></td>
		<td>			<input  type="text" class="form-control" name="is_active" id="is_active"><span id="is_active_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="status_label">${n.i18n.chukynos_status}<font>*</font></td>
		<td>			<input  type="text" class="form-control" name="status" id="status"><span id="status_msg"></span></td>
		</tr>
	<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
		</td>
	</tr></table>
<script type="text/javascript">
	$(function(){
		$('#doNew').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id='+$('#id').val()+'&ten_chukyno='+$('#ten_chukyno').val()+'&is_active='+$('#is_active').val()+'&status='+$('#status').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=chukynos/new_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_new_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doClear').click(function(){
			$("input:text").each(function(){$(this).val('')});
			$("textarea").each(function(){$(this).val('')});
			$("select").each(function(){$(this).attr('selectedIndex', 0);});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=chukynos/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()!=''){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.crud_required_message} ${n.i18n.chukynos_id}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ten_chukyno').blur(function(){
			if ($('#ten_chukyno').val()!=''){
				$('#ten_chukyno_msg').html('');
				$('#ten_chukyno_msg').attr('style','display:none');
			}else{
				$('#ten_chukyno_msg').html('${n.i18n.crud_required_message} ${n.i18n.chukynos_ten_chukyno}');
				$('#ten_chukyno_msg').attr('style','display:block');
				return false;
			}
		});
		$('#is_active').blur(function(){
			if ($('#is_active').val()!=''){
				$('#is_active_msg').html('');
				$('#is_active_msg').attr('style','display:none');
			}else{
				$('#is_active_msg').html('${n.i18n.crud_required_message} ${n.i18n.chukynos_is_active}');
				$('#is_active_msg').attr('style','display:block');
				return false;
			}
			if ($('#is_active').val()*1==$('#is_active').val()){
				$('#is_active_msg').html('');
				$('#is_active_msg').attr('style','display:none');
			}else{
				$('#is_active_msg').html('${n.i18n.chukynos_is_active} ${n.i18n.crud_is_number_message}');
				$('#is_active_msg').attr('style','display:block');
				return false;
			}
		});
		$('#status').blur(function(){
			if ($('#status').val()!=''){
				$('#status_msg').html('');
				$('#status_msg').attr('style','display:none');
			}else{
				$('#status_msg').html('${n.i18n.crud_required_message} ${n.i18n.chukynos_status}');
				$('#status_msg').attr('style','display:block');
				return false;
			}
			if ($('#status').val()*1==$('#status').val()){
				$('#status_msg').html('');
				$('#status_msg').attr('style','display:none');
			}else{
				$('#status_msg').html('${n.i18n.chukynos_status} ${n.i18n.crud_is_number_message}');
				$('#status_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
	});
</script>