<table id="ketquaphats" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_new_button_message.toUpperCase()}</b></th></tr>	
	
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="mst_label">${n.i18n.ketquaphats_mst}</td>
		<td>
			<table>
				<tr style="width:100%">
					<td style="width:90%"><input  type="text" class="form-control" name="mst" id="mst" onKeyUp="loadInfo()" style="width:98%">
						<span id="mst_msg"></span></td>
					<td style="width:10%"><input type=checkbox name="tk_mavach" id="tk_mavach" class="checkbox_check" 
					title="TIM KIEM THEO MA VACH"/></td></td>
				</tr>
			</table>	
		</td>	
		<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_kt_label">${n.i18n.chuyenkhoans_ten_nnt}</td>
		<td>
			<input  type="text" class="form-control" name="ten_nnt" id="ten_nnt"><span id="ten_nnt_msg"></span></td>		
		</tr>
	<tr>
        <td>${n.i18n.crud_info_diachi}</td>
        <td colspan="3"><input  type="text" class="form-control" name="mota_diachi" id="mota_diachi"></td>
     </tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="chungtu_id_label">${n.i18n.ketquaphats_chungtu_id}</td>
		<td>
			<select class="form-control" name="chungtu_id" id="chungtu_id">
				#foreach ($i in $u.qry("crud_search_type_chungtu","default",[],0) )
               	<option value="$!i['ID']" #if ($!i['ID']=="$!{param.province}")selected#end>$!i['NAME']</option>
                #end
			</select><span id="chungtu_id_msg"></span></td>		
			<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="ma_nv_label">${n.i18n.ketquaphats_chuky}</td>
		<td>			<select class="form-control" name="ckn" id="ckn">	
				#foreach ($i in $u.qry("crud_get_list_kythue","default",[],0) )
               	<option value="$!i['ID']" #if ($!i['ID']=="$!{param.province}")selected#end>$!i['NAME']</option>
                #end
			</select><span id="ckn_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="bill_label">${n.i18n.ketquaphats_bill}</td>
		<td>			<input  type="text" class="form-control" name="bill" id="bill"><span id="bill_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_phat_label">${n.i18n.ketquaphats_ngay_phat}</td>
		<td>			<input  type="text" class="form-control" name="ngay_phat" id="ngay_phat"><span id="ngay_phat_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_nhap_label">${n.i18n.ketquaphats_ngay_nhap}</td>
		<td>			<input  type="text" class="form-control" name="ngay_nhap" id="ngay_nhap"><span id="ngay_nhap_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 100 ${n.i18n.crud_valid_length_postfix}" id="nguoi_nhan_label">${n.i18n.ketquaphats_nguoi_nhan}</td>
		<td>			<input  type="text" class="form-control" name="nguoi_nhan" id="nguoi_nhan"><span id="nguoi_nhan_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="lan_phat_label">${n.i18n.ketquaphats_lan_phat}</td>
		<td>			<input  type="text" class="form-control" name="lan_phat" id="lan_phat"><span id="lan_phat_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="lan_thu_label">${n.i18n.ketquaphats_lan_thu}</td>
		<td>			<input  type="text" class="form-control" name="lan_thu" id="lan_thu"><span id="lan_thu_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="trang_thai_label">${n.i18n.ketquaphats_trang_thai}</td>
		<td>
			<select class="form-control" name="trang_thai" id="trang_thai">
				#foreach ($i in $u.qry("crud_search_type_ketqua","default",[],0) )
               	<option value="$!i['ID']" #if ($!i['ID']=="$!{param.province}")selected#end>$!i['NAME']</option>
                #end
			</select><span id="trang_thai_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="ma_daily_label">${n.i18n.ketquaphats_ma_daily}</td>
		<td>			<input  type="text" class="form-control" name="ma_daily" id="ma_daily"><span id="ma_daily_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="diem_thu_label">${n.i18n.ketquaphats_diem_thu}</td>
		<td>			<input  type="text" class="form-control" name="diem_thu" id="diem_thu"><span id="diem_thu_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="ma_nv_label">${n.i18n.ketquaphats_ma_nv}</td>
		<td>			<input  type="text" class="form-control" name="ma_nv" id="ma_nv"><span id="ma_nv_msg"></span></td>

		
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 500 ${n.i18n.crud_valid_length_postfix}" id="ghichu_label">${n.i18n.ketquaphats_ghichu}</td>
		<td colspan=3>			<textarea class="form-control" title='${n.i18n.crud_input_editor_title}' rows=2 name="ghichu" id="ghichu" style='vertical-align:top'></textarea><span id="ghichu_msg"></span></td>
	</tr>
	<tr id='control'><td colspan='4' align='center'><font id="result"></font>	
			<button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
		</td>
	</tr></table>
<script type="text/javascript">
		
	function loadInfo(){		
		var mavach_ =0;
		if ($('input.checkbox_check').prop('checked')) mavach_ =1;
		
		if (mavach_ ==0){
			if(event.keyCode != 13){
				return;
			}
		}
			    
		$("#ten_nnt").val("");	
		$("#mota_diachi").val("");
		$("#ma_nv").val("");
		$('#result').text('${n.i18n.crud_process_message}');

		$.ajax({
			url: 'crud_exec.jsp?crud_type=nnts/tai_quay_info_search.html&mst='+$("#mst").val()+'&sogt=""',async: false,
			success: function(data){ 
				eval('data='+data);
				$("#ten_nnt").val(data.TEN_NNT);	
				$("#mst").val(data.MST);
				$("#mota_diachi").val(data.MOTA_DIACHI);	
				$("#ma_nv").val(data.MA_NV);
				$('#result').text('');
				$("#mst,#ten_nnt,#mota_diachi").attr('disabled' , true);
			}
		});
		
	}
	$(function(){
		$('#doNew').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id=""&mst='+$('#mst').val()+'&ckn='+$('#ckn').val()+'&chungtu_id='+$('#chungtu_id').val()+'&ma_nv='+$('#ma_nv').val()+'&bill='+$('#bill').val()+'&ngay_phat='+$('#ngay_phat').val()+'&ngay_nhap='+$('#ngay_nhap').val()+'&nguoi_nhan='+$('#nguoi_nhan').val()+'&lan_phat='+$('#lan_phat').val()+'&lan_thu='+$('#lan_thu').val()+'&trang_thai='+$('#trang_thai').val()+'&ma_daily='+$('#ma_daily').val()+'&diem_thu='+$('#diem_thu').val()+'&ghichu='+$('#ghichu').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=ketquaphats/new_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_new_message}"); 
						$("#mst").val("");
						$("#mst").focus();
						$("#mst").attr('disabled' , false);
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doClear').click(function(){
			$("input:text").each(function(){$(this).val('')});
			$("textarea").each(function(){$(this).val('')});
			$("select").each(function(){$(this).attr('selectedIndex', 0);});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=ketquaphats/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()*1==$('#id').val()){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.ketquaphats_id} ${n.i18n.crud_is_number_message}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#chungtu_id').blur(function(){
			if ($('#chungtu_id').val()*1==$('#chungtu_id').val()){
				$('#chungtu_id_msg').html('');
				$('#chungtu_id_msg').attr('style','display:none');
			}else{
				$('#chungtu_id_msg').html('${n.i18n.ketquaphats_chungtu_id} ${n.i18n.crud_is_number_message}');
				$('#chungtu_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ngay_phat').blur(function(){
			if ($('#ngay_phat').val()=='' || patternValidate($('#ngay_phat'),'dd/mm/yyyy')){
				$('#ngay_phat_msg').html('');
				$('#ngay_phat_msg').attr('style','display:none');
			}else{
				$('#ngay_phat_msg').html('${n.i18n.ketquaphats_ngay_phat} dạng dd/mm/yyyy');
				$('#ngay_phat_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ngay_nhap').blur(function(){
			if ($('#ngay_nhap').val()=='' || patternValidate($('#ngay_nhap'),'dd/mm/yyyy')){
				$('#ngay_nhap_msg').html('');
				$('#ngay_nhap_msg').attr('style','display:none');
			}else{
				$('#ngay_nhap_msg').html('${n.i18n.ketquaphats_ngay_nhap} dạng dd/mm/yyyy');
				$('#ngay_nhap_msg').attr('style','display:block');
				return false;
			}
		});
		$('#lan_phat').blur(function(){
			if ($('#lan_phat').val()*1==$('#lan_phat').val()){
				$('#lan_phat_msg').html('');
				$('#lan_phat_msg').attr('style','display:none');
			}else{
				$('#lan_phat_msg').html('${n.i18n.ketquaphats_lan_phat} ${n.i18n.crud_is_number_message}');
				$('#lan_phat_msg').attr('style','display:block');
				return false;
			}
		});
		$('#lan_thu').blur(function(){
			if ($('#lan_thu').val()*1==$('#lan_thu').val()){
				$('#lan_thu_msg').html('');
				$('#lan_thu_msg').attr('style','display:none');
			}else{
				$('#lan_thu_msg').html('${n.i18n.ketquaphats_lan_thu} ${n.i18n.crud_is_number_message}');
				$('#lan_thu_msg').attr('style','display:block');
				return false;
			}
		});
		$('#trang_thai').blur(function(){
			if ($('#trang_thai').val()*1==$('#trang_thai').val()){
				$('#trang_thai_msg').html('');
				$('#trang_thai_msg').attr('style','display:none');
			}else{
				$('#trang_thai_msg').html('${n.i18n.ketquaphats_trang_thai} ${n.i18n.crud_is_number_message}');
				$('#trang_thai_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ghichu').dblclick(function(){
			Popup("crud_editor.jsp?modal=1&source=ghichu&content="+$('#ghichu').val(),'selectFile',700,280);
		});
	});
	$(document).ready(function(){
		$('#ngay_phat,#ngay_nhap').datepicker({format:"dd/mm/yyyy"});
		$("#ngay_phat,#ngay_nhap").datepicker().datepicker("setDate", new Date());
	});
	
		
</script>