<table id="tien_nop" class='table table-condensed'>
	<tr><th colspan='4'><b>QUẢN LÝ TIỀN NỘP</b></th></tr>	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 10 ${n.i18n.crud_valid_length_postfix}" id="ma_bc_label">${n.i18n.tien_nop_ma_bc}*</td>
		<td>
			<input  type="text" class="form-control" name="ma_bc" id="ma_bc"><span id="ma_bc_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 10 ${n.i18n.crud_valid_length_postfix}" id="ma_nv_label">${n.i18n.tien_nop_ma_nv}*</td>
		<td>
			<input  type="text" class="form-control" name="ma_nv" id="ma_nv"><span id="ma_nv_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_nop_label">${n.i18n.tien_nop_ngay_nop}</td>
		<td>
			<input  type="text" class="form-control" name="ngay_nop" id="ngay_nop"><span id="ngay_nop_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="tien_label">${n.i18n.tien_nop_tien}</td>
		<td>
			<input  type="text" class="form-control" name="tien" id="tien" onKeyUp="CalTra(this)"><span id="tien_msg"></span></td>
		</tr>
	<tr hidden>
		<td title="${n.i18n.crud_valid_length_prefix} 100 ${n.i18n.crud_valid_length_postfix}" id="nguoi_cn_label">${n.i18n.tien_nop_nguoi_cn}</td>
		<td>
			<input  type="text" class="form-control" name="nguoi_cn" id="nguoi_cn"><span id="nguoi_cn_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_cn_label">${n.i18n.tien_nop_ngay_cn}</td>
		<td>
			<input  type="text" class="form-control" name="ngay_cn" id="ngay_cn"><span id="ngay_cn_msg"></span></td>
		</tr>
	<tr hidden>
		<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="ip_cn_label">${n.i18n.tien_nop_ip_cn}</td>
		<td>
			<input  type="text" class="form-control" name="ip_cn" id="ip_cn"><span id="ip_cn_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.tien_nop_id}</td>
		<td>
			<input  type="text" class="form-control" name="id" id="id"><span id="id_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 400 ${n.i18n.crud_valid_length_postfix}" id="noi_dung_label">${n.i18n.tien_nop_noi_dung}</td>
		<td>
			<textarea class="form-control" title='${n.i18n.crud_input_editor_title}' rows=2 name="noi_dung" id="noi_dung" style='vertical-align:top'></textarea><span id="noi_dung_msg"></span></td>
		<td></td><td></td>
		<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button name="doSearch" id="doSearch" class="btn btn-primary"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message}</button>&nbsp;			<button class="btn btn-primary" name="goNew" id="goNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message} &gt;</button>&nbsp;
			<button class="btn btn-primary" name="goDelete" id="goDelete"><i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message} &gt;</button>&nbsp;
			<button class="btn btn-primary" name="goEdit" id="goEdit"><i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message} &gt;</button>&nbsp;
		</td></tr>
</table><section class="content"><div class="box box-primary">  <div class="box-body no-padding" id='data-list' style="overflow:auto;margin:auto"></div><div id="div_page_section2" class=""></div></div></section>
<link href="/assets/bootstrap/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
<script src="/assets/bootstrap/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="/assets/bootstrap/plugins/autocomplete/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="/assets/bootstrap/plugins/autocomplete/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(document).ready(function(){
		doGetMaNV();
		//format tien
		//$("#tien").keyup(function() {
		// var x = $(this).val();
		//	$(this).val(x.toString().replace(/,/g, "").replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
		//});
	//end
	});
	//Khoi tao doi tuong quan ly phan trang:
	var record_per_page=20, page=1, nor=0;;
	var objPage=new pageTemplates('div_page_section1','div_page_section2','pClick','onGetData');
	objPage.setRecPerPage(record_per_page);
	objPage.setTypeTemplate('BOOTSTRAP');  
	var ma_bc="", ma_nv="";
	
	function CalTra(o){
		$(o).val(fnumber($(o).val()));
		$("#tien").val().replace(/,/g,"")*1;
	}
	var tasks = {
		#set ($list = $u.qry("danh_sach_buucucs_theo_tinh","default",["${province}" ],1) )
		#set ($k = 0 )
		#foreach ($i in $list )
			#if ($k!=0),#end"$!i['ID']":"$!i['NAME']"
			#set ($k=$k+1)
		#end
	};
	var tasksArray = $.map(tasks, function (value, key) { return { value: value, data: key }; });
	$('#ma_bc').autocomplete({
		lookup: tasksArray,
		onSelect: function (suggestion) {
			$('#data-list').html('${n.i18n.crud_process_message}');
 			ma_bc = suggestion.data;
			doGetMaNV();
			$('#doSearch').click();
		}
	});
 	function doGetMaNV(){
  		$.ajax({
			url: 'crud_exec.jsp?crud_type=tien_nop/ajax_get_manv.html&ma_tinh=${province}&ma_bc='+ma_bc,
			success: function(data){ 
				eval('data='+data);
				var mapNV = $.map(data, function (value, key) { return { value: value, data: key }; });
				$('#ma_nv').autocomplete({
					lookup: mapNV,
					onSelect: function (suggestion) {
						$('#data-list').html('${n.i18n.crud_process_message}');
 						ma_nv = suggestion.data;
 						$('#doSearch').click();
					}
				});
			}
		});
	}
	//$(function(){
		$('#doSearch').click(function(){
			$('#result').html('${n.i18n.crud_process_message}');
			if($("#ma_nv").val().trim().length == 0){
				ma_nv = "";
			}
			if($("#ma_bc").val().trim().length == 0){
				ma_bc = "";
			}

			$.ajax({
				url: 'crud_exec.jsp?crud_type=tien_nop/ajax_get_nop_nor.html'+getParams(page,record_per_page),
				success: function(data){ 
					eval('data='+data);
					nor = data.NOR*1;
					onStartSearch(nor);
					$('#data-list').html(data);
					$('#result').html('');
				}
			});
		});
		$('#doSearch').click();
		$('#goNew').click(function(){
			window.location.href='crud.jsp?crud_type=tien_nop/new.html';
		});
		$('#goEdit').click(function(){
			if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
				window.location.href='crud.jsp?crud_type=tien_nop/edit.html&id='+$(':radio:checked').parent().parent().children("[name='id']").text();
			}else{
				alert('${n.i18n.crud_alert_select_one}');
			}
		});
		$('#goDelete').click(function(){
			if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
				window.location.href='crud.jsp?crud_type=tien_nop/delete.html&id='+$(':radio:checked').parent().parent().children("[name='id']").text();
			}else{
				alert('${n.i18n.crud_alert_select_one}');
			}
		});
		
	function pClick(ps_page_id,ps_rec_per_page) {
		objPage.setCurrentPage(ps_page_id);
		objPage.setRecPerPage(ps_rec_per_page);
		objPage.returnDataCount(objPage.getTotalRec());
	}
	//Ham nay tu dong duoc goi sau khi click vao cac so...:
	function onGetData(page, size){
		$.ajax({
			url: 'crud_exec.jsp?crud_type=tien_nop/ajax_index.html'+getParams(page,record_per_page),
			timeout: 1000,
			success: function(data){ 
				if(data!=''){
					$('#data-list').html(data);
					$('#result').html('');
				}
				if(nor==0 && data!=''){
					$('#result').html('Không có dữ liệu!');
				}
			}
		});
	}
	//Ham tra ve chuoi parameters, truyen vao ajax de lay nop, nor va du lieu hien thi
	function getParams(page,record_per_page){
		var exec='&record_per_page='+record_per_page+'&page_index='+page+'&ma_bc='+ma_bc+'&ma_nv='+ma_nv+'&ngay_nop='+$('#ngay_nop').val()+'&tien='+$("#tien").val().replace(/,/g,"")+'&nguoi_cn='+'&ngay_cn='+'&ip_cn='+'&id='+'&noi_dung='+$('#noi_dung').val();
		return exec;
	}
	function onStartSearch(total){
		objPage.setCurrentPage(1);
		objPage.returnDataCount(total);
	}
		
	//});
	$(document).ready(function(){
		$('#ngay_nop').datepicker({format:"dd/mm/yyyy"});
		$('#ngay_cn').datepicker({format:"dd/mm/yyyy"});
	});

</script>