<table id="chuyenkhoans" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.curd_report_title_info_dept.toUpperCase()}</b></th></tr>
	<input type="hidden" id="phieu_id" name="phieu_id">
	<tr>
		<td width=8% title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_start_date}</td>
		<td>
			<input  type="text" class="form-control" name="tungay" id="tungay"><span id="tungay_msg"></span></td>
		<td width=12% title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_end_date}</td>
		<td>
			<input  type="text" class="form-control" name="denngay" id="denngay"><span id="denngay_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 60 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_unit}</td>
		<td>
			<select class="form-control" name="donviql_id" id="donviql_id" onchange="selectUnit()">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_search_buucucthus_donviql_id_service","default",[${province}],1) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="donviql_id_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_post}</td>
		<td id="tdbuucucthu">
			<select class="form-control" name="mabc_id" id="mabc_id" onchange="selectCounter()">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_post","default",[${province}],1) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="mabc_id_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_counter}</td>
		<td id="tdquaythu">
			<select class="form-control" name="quaythu" id="quaythu" onchange="selectDebter()">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_counter","default",[${province}],1) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="quaythu_msg"></span></td>
		
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_nguoi_gach_no}</td>
		<td id="tdnguoigachno">
			<select class="form-control" name="nguoigachno" id="nguoigachno" onchange="selectStaff()">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_nguoi_gach_no","default",[${province}],1) )               					
				<option value="$!i['ID']" #if ($!i['ID']=="$!{request.UserPrincipal.name}")selected#end>$!i['NAME']</option>				
                #end
			</select><span id="nguoigachno_msg"></span></td>

	</tr>
	
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.tinhhinh_thuthue_duongthu}</td>
		<td id="tdduongthu">
			<select class="form-control" name="duongthu" id="duongthu">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_staff","default",[${province}],1) )               					
				<option value="$!i['ID']">$!i['NAME']</option>				
                #end				
			</select><span id="duongthu_msg"></span></td>
		
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.tinhhinh_thuthue_kythue}</td>
		<td id="tdkythu">
			<select class="form-control" name="kythu" id="kythu">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_cycle","default",[],0) )                   					
				<option value="$!i['ID']">$!i['NAME']</option>				
                #end
			</select><span id="kythue_msg"></span></td>
	</tr>
	
</table>
<div class="col-md-12" style="text-align:center"><span id="result"></span>			
	<div class="btn-group">											
		<button id="btnPrint1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-print"></i> ${n.i18n.tinhhinh_thuthue_baocao_tonghop} <span class="fa fa-caret-down"></span></button>
		<ul class="dropdown-menu">
			<li><a href="javascript:print()">PDF</a></li>				
			<li class="divider"></li>
			<li><a href="javascript:print_excel()">EXCEL</a></li>
		</ul>
	</div>   
	<div class="btn-group">											
		<button id="btnPrint2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-print"></i> ${n.i18n.tinhhinh_thuthue_baocao_chitiet} <span class="fa fa-caret-down"></span></button>
		<ul class="dropdown-menu">
			<li><a href="javascript:print_detail()">PDF</a></li>				
			<li class="divider"></li>
			<li><a href="javascript:print_detail_excel()">EXCEL</a></li>
		</ul>
	</div>
	<div class="btn-group">											
		<button id="btnPrint2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-print"></i> Báo cáo chưa nhập<span class="fa fa-caret-down"></span></button>
		<ul class="dropdown-menu">
			<li><a href="javascript:print_no_detail()">PDF</a></li>				
			<li class="divider"></li>
			<li><a href="javascript:print_no_detail_excel()">EXCEL</a></li>
		</ul>
	</div>
	
	<div class="btn-group">											
		<button id="btnPrint2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-print"></i> DS chưa nộp thuế<span class="fa fa-caret-down"></span></button>
		<ul class="dropdown-menu">
			<li><a href="javascript:print_no_dept()">PDF</a></li>				
			<li class="divider"></li>
			<li><a href="javascript:print_no_dept_excel()">EXCEL</a></li>
		</ul>
	</div>
	<p style="height:11px"></p>
</div><!-- /.col -->   
<script type="text/javascript">	

	$(document).ready(function(){
		$('#tungay,#denngay').datepicker({format:"dd/mm/yyyy"});
		$("#tungay,#denngay").datepicker().datepicker("setDate", new Date());
	});
	
	function selectUnit(){
		$.ajax({
			url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_buucuc_donvi.html&ma_dv='+$("#donviql_id").val()+'&ma_tinh=${province}',
			success: function(data){ 
				$("#tdbuucucthu").html(data);
				selectCounter();
			}
		});
	}

	function selectCounter(){
		if ($("#mabc_id").val()==""){
				$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_quaythu_buucuc_all.html&ma_tinh=${province}',
				success: function(data){ 
					$("#tdquaythu").html(data);
					selectDebter();
				}
			});
		}else{
			$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_quaythu_buucuc.html&ma_bc='+$("#mabc_id").val()+'&ma_tinh=${province}',
				success: function(data){ 
					$("#tdquaythu").html(data);
					selectDebter();
				}
			});
		}
	}
	
	function selectDebter(){	
		if ($("#quaythu").val()==""){
				$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_nguoigachno_quaythu_all.html&ma_tinh=${province}',
				success: function(data){ 
					$("#tdnguoigachno").html(data);
					selectStaff();
				}
			});
		}else{
			$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_nguoigachno_quaythu.html&ma_quay='+$("#quaythu").val()+'&ma_tinh=${province}',
				success: function(data){ 
					$("#tdnguoigachno").html(data);
					selectStaff();
				}
			});
		}
	}
	
	function selectStaff(){
		if ($("#nguoigachno").val()==""){
				$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_duongthu_nguoigachno_all.html&ma_tinh=${province}',
				success: function(data){ 
					$("#tdduongthu").html(data);
				}
			});
		}else{			
			$.ajax({
				url: 'crud_exec.jsp?crud_type=report_info_debt/ajax_duongthu_nguoigachno.html&nguoigachno='+$("#nguoigachno").val()+'&ma_tinh=${province}',
				success: function(data){ 				
					$("#tdduongthu").html(data);
				}
			});
		}
	}
	
	function print(){

	var tungay = $("#tungay").val();
	var denngay = $("#denngay").val();
	var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
	s_ = window.location.protocol+"//"+window.location.host
		+"/report/?jasperFile=jasper/report_dept_staff&jasperExportType=pdf&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
	window.open(s_);
	}

	function print_excel(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_dept_staff_excel&jasperExportType=xls&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		window.open(s_);
	}

	function print_detail(){
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_dept_detail&jasperExportType=pdf&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		window.open(s_);
	}

	function print_detail_excel(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpFile;
		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_dept_detail_excel&jasperExportType=xls&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		window.open(s_);
	}

	function print_no_detail(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpFile;
		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_no_dept_detail&jasperExportType=pdf&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		
		window.open(s_);
	}

	function print_no_detail_excel(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpFile;
		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_no_dept_detail_excel&jasperExportType=xls&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		window.open(s_);
	}
	
	function print_no_dept(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpFile;
		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_no_dept&jasperExportType=pdf&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		
		window.open(s_);
	}

	function print_no_dept_excel(){
		
		var tungay = $("#tungay").val();
		var denngay = $("#denngay").val();

		var jpFile;
		var jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/report_info_no_dept_excel&jasperExportType=xls&AGENT=${province}&IMAGE_PATH="+jpPath+"&TUNGAY="+tungay+"&DENNGAY="+denngay+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_QUAY="+$('#quaythu').val()+"&MA_NV="+$('#nguoigachno').val()+"&DUONGTHU="+$('#duongthu').val()+"&KYTHU="+$('#kythu').val();
		window.open(s_);
	}
</script>