<table id="chuyenkhoans" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.phieu_giao_button_message.toUpperCase()}</b></th></tr>
	<input type="hidden" id="phieu_id" name="phieu_id">
	<tr>
		<td width=10% title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_start_date}</td>
		<td>
			<input  type="text" class="form-control" name="tungay" id="tungay"><span id="tungay_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_end_date}</td>
		<td>
			<input  type="text" class="form-control" name="denngay" id="denngay"><span id="denngay_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 60 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_unit}</td>
		<td>
			<select class="form-control" name="donviql_id" id="donviql_id">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_search_buucucthus_donviql_id_service","default",[],0) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="donviql_id_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_post}</td>
		<td>
			<select class="form-control" name="mabc_id" id="mabc_id">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_search_nhanvien_tcs_mabc_id_service","default",[],0) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="mabc_id_msg"></span></td>
		</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}">${n.i18n.curd_report_staff}</td>
		<td colspan=3>
			<select class="form-control" name="manv" id="manv">
				<option value="">${n.i18n.curd_info_khong_chon}</option>
				#foreach ($i in $u.qry("crud_report_info_staff","default",[${province}],1) )
               	<option value="$!i['ID']">$!i['NAME']</option>
                #end
			</select><span id="manv_msg"></span></td>
	</tr>
		
	<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button name="doSearch" id="doSearch" class="btn btn-primary" onclick="list_staff()"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message}</button>&nbsp;		
			<button class="btn btn-primary" name="cmdPrint" id="cmdPrint" onclick="print_list_staff()"><i class="fa fa-print"></i> ${n.i18n.curd_report_print} &gt;</button>&nbsp;		
			<button class="btn btn-primary"  onclick="print_list_staff_excel()"><i class="fa fa-print"></i> ${n.i18n.curd_report_excel_output} &gt;</button>&nbsp;		
	</td></tr>
</table><section class="content"><div class="box box-primary">  <div class="box-body no-padding" id='data-list' style="overflow:auto;margin:auto"></div></div></section>
<div id="pageinfo"></div>
<script type="text/javascript">	
	$(document).ready(function(){
		$('#tungay,#denngay').datepicker({format:"dd/mm/yyyy"});
		$("#tungay,#denngay").datepicker().datepicker("setDate", new Date());
	});
	
	$(document).ready(function(){
		$.ajax({
				url: 'crud_exec.jsp?crud_type=common/PageRec.htm',
				success: function(data){ 					
					$('#pageinfo').html(data);
					getData(1,$('#cboSetPageRec').val());									
				}
			});
		
	});
	
	function getData(pageNum,pageRec){			
			var url_= 'crud_exec.jsp?crud_type=report_staff/ajax_index.html&record_per_page='+pageRec+'&page_index='+pageNum+'&TU_NGAY='+$("#tungay").val()+'&DEN_NGAY='+$("#denngay").val()+'&AGENT=${province}&MA_DV='+$("#donviql_id").val()+'&MA_BC='+$("#mabc_id").val()+'&MA_NV='+$("#manv").val();
			$.ajax({
				url: url_,
				success: function(data){ 				
					$('#data-list').html(data);													
					$('#result').html('');
					setPage(pageNum,$("#page").html());
				}
			});
		};

	
	function list_staff(){
		$('#result').html('${n.i18n.crud_process_message}');
			getData(1,$('#cboSetPageRec').val());		
	}
	function print_list_staff(){
	
		var jpFile;
		jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/list_staff_invoice&jasperExportType=pdf&AGENT=${province}&IMAGE_PATH="+jpPath+"&TU_NGAY="+$('#tungay').val()+"&DEN_NGAY="+$('#denngay').val()+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_NV="+$('#manv').val();
		
		window.open(s_);
	}
	function print_list_staff_excel(){
 		jpPath = "E:/tax/Server/webapps/ROOT/WEB-INF/templates/jasper/";
		s_ = window.location.protocol+"//"+window.location.host
			+"/report/?jasperFile=jasper/list_staff_invoice&jasperExportType=xls&AGENT=${province}&IMAGE_PATH="+jpPath+"&TU_NGAY="+$('#tungay').val()+"&DEN_NGAY="+$('#denngay').val()+"&MA_DV="+$('#donviql_id').val()+"&MA_BC="+$('#mabc_id').val()+"&MA_NV="+$('#manv').val();
		
		window.open(s_);
	}
</script>