#set ($countRecords = $u.val("get_count_records","default",["$!{table_name}","1","$!{t_id}","$!{province}","0"],5))

<h4>${n.i18n.result_1}</h4>
<table width="100%" class='table table-condensed table-striped table-bordered' id="success_data">
   <tr style="text-align: center;">
      <th align=center>ID</th>
      <th align=center>CMTND</th>
      <th align=center>TEN</th>
      <th align=center>LOG_MSG</th>
   </tr>
   #set ($list =$u.ref("get_records_table_nv_temp","default",["$!{table_name}","1","$!{t_id}","$!{record_per_page}","$!{page_index}","${province}","0"],7) )
   #foreach ($i in $list)
   <tr>
      <td align=left name='id'>$!i["ID"]</td>
      <td align=left name='cmtnd_nv'>$!i["CMTND"]</td>
      <td align=left name='ten_msg'>$!i["TEN"]</td>
	  <td align=left name='log_msg'>$!i["LOG_MSG"]</td>
   </tr>
   #end
</table>
<script>
	$("#total1").html($countRecords);
	$("#page1").html(parseInt($("#total1").html()/$("#cboSetPageRec1").val())+1);
</script>