<div class="box-body" >
	<div class="box box-body" style="background:#fcfcfc">
		<div class="col-xs-3"><b>${n.i18n.nnts_mst}</b></div>
		<div class="col-xs-3"><b>${n.i18n.nnts_ten_nnt}</b></div>
		<div class="col-xs-3"><b>${n.i18n.info_gachno_m_label1}</b></div>
	</div>
#set ($list = $u.ref("crud_search_nnts_service1","default",["$!{ma_nv}","${province}","1","20","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],7) )
#foreach ($i in $list)
	<div class="row table-bordered">	
		<div class="col-xs-3" name='mst_$!i["MST"]'><span style="padding-left:7px;font-weight:bold;color:#dd4b39">$!i["MST"]</span></div>
		<div class="col-xs-3" name='ten_nnt_$!i["TEN_NNT"]'>$!i["TEN_NNT"]</div>
		<div class="col-xs-3" name='sotien_$!i["SOTIEN"]'>$!i["SOTIEN"]</div>		
		<div class="col-xs-3"><a  href="javascript:doSearch('$!i['MST']')" class="btn btn-primary btn-xs"><i class="fa fa-search"></i></a>	
		<a href="javascript:doPayment('$!i['MST']')" class="btn btn-primary btn-xs"><i class="fa fa-money"></i></a>	
		</div>
		<div class="col-md-12">							
			<div id="data-list_$!i['MST']"></div>
		</div>		
	</div>	

	
#end
</div>

<script type="text/javascript">
	function doSearch(Vmst){
		$.ajax({		
			url: 'crud_exec.jsp?crud_type=bangphieutra/ajax_index_m.html&record_per_page=500&page_index=1&mst='+Vmst,
			success: function(data){			
				$('#data-list_'+Vmst).html(data);		
			}
		});		
	}
	
	function doPayment(Vmst){
		window.location.href='tai_quay_m.jsp?&mst='+Vmst;
	}
</script>