#set ($v = $u.ref("crud_search_nguoigachnos_service","default",["$!{id}","$!{ma_tinh}","$!{hovaten}","$!{mabc_id}","$!{quaythu_id}","$!{gn_luingay}","$!{xp_luingay}","1","1","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],12)[0] )
	<table id="nguoigachnos" class='table table-condensed'>
		<tr><th colspan='4'><b>${n.i18n.crud_edit_button_message.toUpperCase()}</b></th></tr>	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 60 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.nguoigachnos_id}<font>*</font></td>
			<td>			<input  type="text" class="form-control" value='$!v["ID"]' name="id" id="id"><span id="id_msg"></span></td>
			<td title="" id="ma_tinh_label">${n.i18n.nguoigachnos_ma_tinh}<font>*</font></td>
			<td>			<select class="form-control" name="ma_tinh" id="ma_tinh">
				#foreach ($i in $u.qry("crud_search_nguoigachnos_ma_tinh_service","default",[],0) )
               	<option value="$!i['ID']" #if ($!i['ID']==$!v["MA_TINH"])selected#end>$!i['NAME']</option>
                #end
			</select><span id="ma_tinh_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 60 ${n.i18n.crud_valid_length_postfix}" id="hovaten_label">${n.i18n.nguoigachnos_hovaten}<font>*</font></td>
			<td>			<input  type="text" class="form-control" value='$!v["HOVATEN"]' name="hovaten" id="hovaten"><span id="hovaten_msg"></span></td>
			<td title="" id="mabc_id_label">${n.i18n.nguoigachnos_mabc_id}<font>*</font></td>
			<td>			<select class="form-control" name="mabc_id" id="mabc_id">
				#foreach ($i in $u.qry("crud_search_nguoigachnos_mabc_id_service","default",[${province}],1) )
               	<option value="$!i['ID']" #if ($!i['ID']==$!v["MABC_ID"])selected#end>$!i['NAME']</option>
                #end
			</select><span id="mabc_id_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 100 ${n.i18n.crud_valid_length_postfix}" id="quaythu_id_label">${n.i18n.nguoigachnos_quaythu_id}<font>*</font></td>
			<td>			<input  type="text" class="form-control" value='$!v["QUAYTHU_ID"]' name="quaythu_id" id="quaythu_id"><span id="quaythu_id_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="gn_luingay_label">${n.i18n.nguoigachnos_gn_luingay}<font>*</font></td>
			<td>			<input  type="text" class="form-control" value='$!v["GN_LUINGAY"]' name="gn_luingay" id="gn_luingay"><span id="gn_luingay_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="xp_luingay_label">${n.i18n.nguoigachnos_xp_luingay}<font>*</font></td>
			<td>			<input  type="text" class="form-control" value='$!v["XP_LUINGAY"]' name="xp_luingay" id="xp_luingay"><span id="xp_luingay_msg"></span></td><td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="seri_label">${n.i18n.nguoigachnos_seri}<font>*</font></td>
		<td>
			<input  type="text" class="form-control" name="seri" id="seri" value='$!v["SERI"]'><span id="seri_msg"></span></td>
	</tr>
	<tr>
		<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="seri_label">${n.i18n.nguoigachnos_ky_hieu}<font>*</font></td>
		<td>
			<input  type="text" class="form-control" name="ky_hieu" id="ky_hieu" value='$!v["KY_HIEU"]'><span id="ky_hieu_msg"></span></td>
	</tr>
		<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button class="btn btn-primary" name="doEdit" id="doEdit"><i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="doReset" id="doReset"><i class="fa fa-reply"></i> ${n.i18n.crud_reset_button_message}</button>&nbsp;
			<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
		</td></tr>
	</table>
<script type="text/javascript">
	$(function(){
		var orginData={id:'$!v["ID"]',ma_tinh:'$!v["MA_TINH"]',hovaten:'$!v["HOVATEN"]',mabc_id:'$!v["MABC_ID"]',quaythu_id:'$!v["QUAYTHU_ID"]',gn_luingay:'$!v["GN_LUINGAY"]',xp_luingay:'$!v["XP_LUINGAY"]',seri:'$!v["SERI"]',ky_hieu:'$!v["KY_HIEU"]'};
		$('#doEdit').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id='+$('#id').val()+'&ma_tinh='+$('#ma_tinh').val()+'&hovaten='+$('#hovaten').val()+'&mabc_id='+$('#mabc_id').val()+'&quaythu_id='+$('#quaythu_id').val()+'&gn_luingay='+$('#gn_luingay').val()+'&xp_luingay='+$('#xp_luingay').val()+'&seri='+$('#seri').val()+'&ky_hieu='+$('#ky_hieu').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=nguoigachnos/edit_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_edit_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doReset').click(function(){
			$("input:text").each(function(){$(this).val( orginData[$(this).attr('id')] )});
			$("textarea").each(function(){$(this).val( orginData[$(this).attr('id')] )});
			$("select").each(function(){$(this).attr('selectedIndex',orginData[$(this).attr('id')]);});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=nguoigachnos/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()!=''){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_id}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ma_tinh').blur(function(){
			if ($('#ma_tinh').val()!=''){
				$('#ma_tinh_msg').html('');
				$('#ma_tinh_msg').attr('style','display:none');
			}else{
				$('#ma_tinh_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_ma_tinh}');
				$('#ma_tinh_msg').attr('style','display:block');
				return false;
			}
		});
		$('#hovaten').blur(function(){
			if ($('#hovaten').val()!=''){
				$('#hovaten_msg').html('');
				$('#hovaten_msg').attr('style','display:none');
			}else{
				$('#hovaten_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_hovaten}');
				$('#hovaten_msg').attr('style','display:block');
				return false;
			}
		});
		$('#mabc_id').blur(function(){
			if ($('#mabc_id').val()!=''){
				$('#mabc_id_msg').html('');
				$('#mabc_id_msg').attr('style','display:none');
			}else{
				$('#mabc_id_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_mabc_id}');
				$('#mabc_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#quaythu_id').blur(function(){
			if ($('#quaythu_id').val()!=''){
				$('#quaythu_id_msg').html('');
				$('#quaythu_id_msg').attr('style','display:none');
			}else{
				$('#quaythu_id_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_quaythu_id}');
				$('#quaythu_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#gn_luingay').blur(function(){
			if ($('#gn_luingay').val()!=''){
				$('#gn_luingay_msg').html('');
				$('#gn_luingay_msg').attr('style','display:none');
			}else{
				$('#gn_luingay_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_gn_luingay}');
				$('#gn_luingay_msg').attr('style','display:block');
				return false;
			}
			if ($('#gn_luingay').val()*1==$('#gn_luingay').val()){
				$('#gn_luingay_msg').html('');
				$('#gn_luingay_msg').attr('style','display:none');
			}else{
				$('#gn_luingay_msg').html('${n.i18n.nguoigachnos_gn_luingay} ${n.i18n.crud_is_number_message}');
				$('#gn_luingay_msg').attr('style','display:block');
				return false;
			}
		});
		$('#xp_luingay').blur(function(){
			if ($('#xp_luingay').val()!=''){
				$('#xp_luingay_msg').html('');
				$('#xp_luingay_msg').attr('style','display:none');
			}else{
				$('#xp_luingay_msg').html('${n.i18n.crud_required_message} ${n.i18n.nguoigachnos_xp_luingay}');
				$('#xp_luingay_msg').attr('style','display:block');
				return false;
			}
			if ($('#xp_luingay').val()*1==$('#xp_luingay').val()){
				$('#xp_luingay_msg').html('');
				$('#xp_luingay_msg').attr('style','display:none');
			}else{
				$('#xp_luingay_msg').html('${n.i18n.nguoigachnos_xp_luingay} ${n.i18n.crud_is_number_message}');
				$('#xp_luingay_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
	});
</script>