<table width="100%" class='table table-condensed table-striped table-bordered'>
	<tr>
		<th>&nbsp;</th>
		<th align=center>${n.i18n.buucucthus_id}</th>
		<th align=center>${n.i18n.buucucthus_ma_tinh}</th>
		<th align=center>${n.i18n.buucucthus_tenbuucuc}</th>
		<th align=center>${n.i18n.buucucthus_diachi}</th>
		<th align=center>${n.i18n.buucucthus_tel}</th>
		<th align=center>${n.i18n.buucucthus_fax}</th>
		<th align=center>${n.i18n.buucucthus_donviql_id}</th>
		<th align=center>${n.i18n.buucucthus_notes}</th>
	</tr>
#set ($list = $u.ref("crud_search_buucucthus_service","default",["$!{id}","$!{ma_tinh}","$!{tenbuucuc}","$!{diachi}","$!{tel}","$!{fax}","$!{donviql_id}","$!{notes}","1","$!{record_per_page}","$!{page_index}","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],13) )
#foreach ($i in $list)
	<tr>
		<td width='22px' align=center><input type="radio" id="rad$i['ID']" name="buucucthus_rad"></td>
		<td align=left name='id'>$!i["ID"]</td>
		<td align=left name='ma_tinh'>$!i["MA_TINH"]</td>
		<td align=left name='tenbuucuc'>$!i["TENBUUCUC"]</td>
		<td align=left name='diachi'>$!i["DIACHI"]</td>
		<td align=left name='tel'>$!i["TEL"]</td>
		<td align=left name='fax'>$!i["FAX"]</td>
		<td align=left name='donviql_id'>$!i["DONVIQL_ID"]</td>
		<td align=left name='notes'>$!i["NOTES"]</td>
	</tr>
#end
</table>
#set ($list = $u.ref("crud_search_buucucthus_service","default",["$!{id}","$!{ma_tinh}","$!{tenbuucuc}","$!{diachi}","$!{tel}","$!{fax}","$!{donviql_id}","$!{notes}","2","$!{record_per_page}","$!{page_index}","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],13) )
#foreach ($i in $list)
	#set ($val_page =$!i["RECORD"])
#end
<script>	
	var total_ = $val_page;
	$("#total").html(total_);
	$("#page").html(parseInt($("#total").html()/$("#cboSetPageRec").val())+1);

	$('#ajax_buucucthus :radio').change(function(){	
		$('#ajax_buucucthus :radio').each(function(){$(this).parent().css("background","#fff");});$(this).parent().css('background-color','#dfdfdf');
	});
</script>
