<table class="table table-striped">
	<tbody>
		<tr>			
			<td style="font-weight:bold;">${n.i18n.bangphieutra_q42015_tientra}</td>
			<td style="font-weight:bold;">${n.i18n.bangphieutra_q42015_nguoigachno_id}</td>								  
			<td style="font-weight:bold;">${n.i18n.bangphieutra_q42015_ngay_tt}</td>
			<td></td>
		</tr>
		#set ($list = $u.ref("crud_search_bangphieutra_q42015_service","default",["","","$!{mst}","","","","","","","$!{record_per_page}","$!{page_index}","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],13) )
		#foreach ($i in $list)
		<tr>			
			<td style="font-weight:bold;color:#039">$!i["TIEN_TRA"]</td>
			<td>$!i["NGUOIGACHNO_ID"]</td>
			<td>$!i["NGAY_TT1"]</td>
			<td><a href="javascript:doDelBill('$!i['ID']')" class="btn btn-primary btn-sm"><i class="fa fa-trash"></i></a></td>
		</tr>
		#end
	</tbody>
</table>
<script type="text/javascript">
	function doDelBill(id){		
		if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
		$('#result').html('${n.i18n.crud_process_message}');
		$.ajax({
			url: 'crud_exec.jsp?crud_type=bangphieutra/delete_exec.html&id='+id,
			success: function(data){ 
				if (data=="1.0"){
					alert("${n.i18n.crud_delete_message}"); 
					location.reload();				
				}else{
					alert(data);
				}
			}
		});
	}
</script>