#set ($v = $u.ref("crud_search_bangphieutra_q42015_service","default",["$!{id}","$!{ma_tinh}","$!{mst}","$!{ma_bc}","$!{httt_id}","$!{nguoigachno_id}","$!{ngay_tt}","$!{ngay_thuc}","$!{quaythu_id}","1","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],13)[0] )
	<table id="bangphieutra_q42015" class='table table-condensed'>
		<tr><th colspan='4'><b>Xóa phiếu trả</b></th></tr>	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.bangphieutra_q42015_id}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["ID"]' name="id" id="id"><span id="id_msg"></span></td>
			<td title="" id="ma_tinh_label">${n.i18n.bangphieutra_q42015_ma_tinh}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='${param.province}'></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="mst_label">${n.i18n.bangphieutra_q42015_mst}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["MST"]' name="mst" id="mst"><span id="mst_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="ma_bc_label">${n.i18n.bangphieutra_q42015_ma_bc}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["MA_BC"]' name="ma_bc" id="ma_bc"><span id="ma_bc_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="httt_id_label">${n.i18n.bangphieutra_q42015_httt_id}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["HTTT_ID"]' name="httt_id" id="httt_id"><span id="httt_id_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 60 ${n.i18n.crud_valid_length_postfix}" id="nguoigachno_id_label">${n.i18n.bangphieutra_q42015_nguoigachno_id}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["NGUOIGACHNO_ID"]' name="nguoigachno_id" id="nguoigachno_id"><span id="nguoigachno_id_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_tt_label">${n.i18n.bangphieutra_q42015_ngay_tt}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["NGAY_TT1"]' name="ngay_tt" id="ngay_tt"><span id="ngay_tt_msg"></span></td>
			<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="ngay_thuc_label">${n.i18n.bangphieutra_q42015_ngay_thuc}<font>*</font></td>
			<td>			<input readonly type="text" class="form-control" value='$!v["NGAY_THUC1"]' name="ngay_thuc" id="ngay_thuc"><span id="ngay_thuc_msg"></span></td>
		</tr>
	<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="quaythu_id_label">${n.i18n.bangphieutra_q42015_quaythu_id}</td>
			<td>			<input readonly type="text" class="form-control" value='$!v["QUAYTHU_ID"]' name="quaythu_id" id="quaythu_id"><span id="quaythu_id_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="quaythu_id_label">Tiền trả</td>
			<td>			<input readonly type="text" class="form-control" value='$!v["TIEN_TRA"]' style="font-weight:bold"></td></tr>
		<tr id='control'><td colspan='4' align='center'><font id="result"></font>
			<button class="btn btn-primary" name="doDel" id="doDel"><i class="fa fa-trash"></i> Thực hiện xóa phiếu</button>&nbsp;
			<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> Trở lại trang tìm kiếm &gt;</button>&nbsp;
		</td></tr>
	</table>
<script type="text/javascript">
	$(function(){
		$('#doDel').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			$('#result').html('${n.i18n.crud_process_message}');
			var type = '$!{type}';
			
			if (type==1) {
				 $.ajax({
					url: 'crud_exec.jsp?crud_type=bangphieutra/delete_offline_exec.html&id=${id}',
					success: function(data){ 
						if (data=="1.0"){
							$('#result').html("${n.i18n.crud_delete_message}"); 
						}else{
							$('#result').html(data);
						}
					}
				});
			}
			else {
				$.ajax({
					url: 'crud_exec.jsp?crud_type=bangphieutra/delete_exec.html&id=${id}',
					success: function(data){ 
						if (data=="1.0"){
							$('#result').html("${n.i18n.crud_delete_message}"); 
						}else{
							$('#result').html(data);
						}
					}
				});
				
			}
		});
		$('#goSearch').click(function(){
			var type = '$!{type}';
			if (type==1) {
				window.location.href='crud_popup.jsp?crud_type=bangphieutra/index.html&type=1';
			}else {
				window.location.href='crud_popup.jsp?crud_type=bangphieutra/index.html';
			}

			
		});
		$('#id').blur(function(){
			if ($('#id').val()!=''){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_id}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
			if ($('#id').val()*1==$('#id').val()){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.bangphieutra_q42015_id} ${n.i18n.crud_is_number_message}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ma_tinh').blur(function(){
			if ($('#ma_tinh').val()!=''){
				$('#ma_tinh_msg').html('');
				$('#ma_tinh_msg').attr('style','display:none');
			}else{
				$('#ma_tinh_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_ma_tinh}');
				$('#ma_tinh_msg').attr('style','display:block');
				return false;
			}
		});
		$('#mst').blur(function(){
			if ($('#mst').val()!=''){
				$('#mst_msg').html('');
				$('#mst_msg').attr('style','display:none');
			}else{
				$('#mst_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_mst}');
				$('#mst_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ma_bc').blur(function(){
			if ($('#ma_bc').val()!=''){
				$('#ma_bc_msg').html('');
				$('#ma_bc_msg').attr('style','display:none');
			}else{
				$('#ma_bc_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_ma_bc}');
				$('#ma_bc_msg').attr('style','display:block');
				return false;
			}
		});
		$('#httt_id').blur(function(){
			if ($('#httt_id').val()!=''){
				$('#httt_id_msg').html('');
				$('#httt_id_msg').attr('style','display:none');
			}else{
				$('#httt_id_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_httt_id}');
				$('#httt_id_msg').attr('style','display:block');
				return false;
			}
			if ($('#httt_id').val()*1==$('#httt_id').val()){
				$('#httt_id_msg').html('');
				$('#httt_id_msg').attr('style','display:none');
			}else{
				$('#httt_id_msg').html('${n.i18n.bangphieutra_q42015_httt_id} ${n.i18n.crud_is_number_message}');
				$('#httt_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#nguoigachno_id').blur(function(){
			if ($('#nguoigachno_id').val()!=''){
				$('#nguoigachno_id_msg').html('');
				$('#nguoigachno_id_msg').attr('style','display:none');
			}else{
				$('#nguoigachno_id_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_nguoigachno_id}');
				$('#nguoigachno_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ngay_tt').blur(function(){
			if ($('#ngay_tt').val()!=''){
				$('#ngay_tt_msg').html('');
				$('#ngay_tt_msg').attr('style','display:none');
			}else{
				$('#ngay_tt_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_ngay_tt}');
				$('#ngay_tt_msg').attr('style','display:block');
				return false;
			}
			if ($('#ngay_tt').val()=='' || patternValidate($('#ngay_tt'),'dd/mm/yyyy')){
				$('#ngay_tt_msg').html('');
				$('#ngay_tt_msg').attr('style','display:none');
			}else{
				$('#ngay_tt_msg').html('${n.i18n.bangphieutra_q42015_ngay_tt} dạng dd/mm/yyyy');
				$('#ngay_tt_msg').attr('style','display:block');
				return false;
			}
		});
		$('#ngay_thuc').blur(function(){
			if ($('#ngay_thuc').val()!=''){
				$('#ngay_thuc_msg').html('');
				$('#ngay_thuc_msg').attr('style','display:none');
			}else{
				$('#ngay_thuc_msg').html('${n.i18n.crud_required_message} ${n.i18n.bangphieutra_q42015_ngay_thuc}');
				$('#ngay_thuc_msg').attr('style','display:block');
				return false;
			}
			if ($('#ngay_thuc').val()=='' || patternValidate($('#ngay_thuc'),'dd/mm/yyyy')){
				$('#ngay_thuc_msg').html('');
				$('#ngay_thuc_msg').attr('style','display:none');
			}else{
				$('#ngay_thuc_msg').html('${n.i18n.bangphieutra_q42015_ngay_thuc} dạng dd/mm/yyyy');
				$('#ngay_thuc_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
		$('#ngay_tt').datepicker({format:"dd/mm/yyyy"});
		$('#ngay_thuc').datepicker({format:"dd/mm/yyyy"});
	});
</script>