<br><b>${n.i18n.print_tieu_de}</b></br>
	<br>${n.i18n.print_phieu_gach}: ${phieu}  - ${n.i18n.print_ckn}: ${ckn}</br>
--------------------------------------------
<br>

<br>${n.i18n.print_mst}: ${mst}</br>
<br>${n.i18n.print_tien_tra}: 		 ${tientra}</br>
<br>${n.i18n.print_nguoi_nop_thue}: ${ten}</br>
<br>${n.i18n.print_dia_chi}:    	 ${diachi}</br>
<br>${n.i18n.print_nguoi_gach}: 	 [$!{request.UserPrincipal.name}] ${tennv}</br>
<br>${n.i18n.print_ngay_tra}: 		 ${time}</br>
<script type="text/javascript">
	window.print();	
</script>